@mixin main_box($border-radius: 5px, $background: $fff, $padding: 1em, $width: auto, $height: auto) {
	border-radius: $border-radius;
	background: $background;
	padding: $padding;
	width: $width;
	height: $height;
}