//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               #f3f1f2;

//** Padding between columns. Gets divided in half for the left and right.
$grid-gap:          0;

//* Navbar
$navbar-default-bg: transparent;
$navbar-default-link-color: #000;
$navbar-default-link-hover-color: lighten($navbar-default-link-color, 40%);

/* Fonts */
$font-family-serif:Lato-Regular;
$font-family-base: $font-family-serif;
$headings-font-family: $font-family-serif;

/* Colors */
$brand-primary: #EF783E;

//** Global textual link color.
$link-color:            $brand-primary;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%);

/* Grid */
$grid-template-columns: 0 minmax(50%, 100%) auto;
