@import 'css/variables';
@import 'css/variables_perso';
@import 'css/mixins_perso';

/* Genéral */
#barre_social, #footer {
	background-color: #ef783e;
}

#barre_social {
	.page {
		margin-top: 0;
		padding: 0;
		text-align: right;
	}
}

#header {
	border-bottom: 1px solid #e6e6e6;
	.right {
		display: inline-flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		#nav {
			width:80%;
			.navbar {
				text-align: right;
				ul {
					position: relative;
				}
				li {
					float:none;
					a {
						padding: 0 15px;
						line-height: normal;
					}
				}
			}
		}

		#formulaire_menu_lang{
			width: 20% ;
		}
		#nav input#show-menu[type="checkbox"] {
		display: none;
		}
	}
}

#nav .navbar li a {
	border: none;
}

.formulaire_menu_lang select {
	width: auto;
	background:
	transparent;
	border: none;
	border-left: 2px solid #e6e6e6;
	text-align: center;
}


#footer {
	p {
		margin : 0;
		padding: 1.5em 0;
	}
	.page {
		background-color: transparent;
		margin-bottom: 0;
	}
}

.page {
	box-shadow: none;
	border:none;
	background-color: transparent;
	.main {
		background-color: transparent;
	}
}

/* Banner */
#logo_site_spip {font-size: 0}


/* Formulaire recherche */

.formulaire_spip.formulaire_recherche_tutos {
	margin-bottom: 1.5em;
	padding: 0;
	border: none;
	background-color: transparent;
	.editer_recherche.saisie_input {
		display: grid;
		grid-template-columns: 20% 80%;
	}
	.editer > label {
		display: inline-block;
	}
	.editer_recherche {
		@include main_box(5px, #fff, 0.5em, calc(100% - 1em));
		margin-bottom: 1.5em;
		margin-left: 0;
		#champ_recherche {
			@include main_box(15px, #f1f2f7, 0.2em 1em);
		}
	}
	.body {
		display: grid;
		grid-template-columns: 20% 80%;
		.fields {
			padding-right: 1em;
			input {
				margin-left: 0.5em;
			}
		}
		.tutos {
			justify-content: space-between;
			.item {
				@include main_box(5px, #fff, 1em, 28%);
				text-align: center;
				margin-bottom: 1em;
				.h2 {
					font-size: 1.1em;
				}
				> a {
					display: block;
				}
				img {
					float: none;
					margin: 0 auto 1em auto;
				}
			}

		}
	}
	.fieldset_recherche_avancee {
		.editer-groupe {
			.editer {
				padding-bottom: 0;
				> label {
					border-bottom: 1px solid #e2e6f0;
					@include main_box(0, #fff, 0.5em 0em 0.5em 0.5em, 100%);
				}
				.choix {
					width: 100%;
					padding: 0.5em 0 0.5em 0.5em;
					background-color: #f1f2f7;
					border-bottom: 1px solid #e2e6f0;
				}
			}
			.editer:first-child {
				> label {
				@include main_box(5px 5px 0 0, #fff, 0.5em 0 0.5em 0.5em, 100%);
				}
			}
			.editer:last-child > label {
				border-radius: 0 0 5px 5px ;
			}
			.editer:not(:first-child) {
				padding-top: 0;
			}
		}
		//.editer-groupe
	}
}

/* Home */
.rubrique_home {
	#content  h1 {
		display:none;
	}
}

/* Tuto */
.page_tuto {
	.content-principal {
		justify-content: space-between;
		.principal {
			@include main_box(5px, #fff, 1em, 55%);
		}
		aside {
			@include main_box(5px, #fff, 1.5em, 30%);
			img {
				float: none;
				margin: 0 auto 1.5em auto;
				display: block;
			}
			ul {
				padding: 0;
			}
		}
	}
}

@media all and (max-width: 800px) {
	.formulaire_spip.formulaire_recherche_tutos {
	.body .tutos .item {
			width : 26%;
		}
		.editer_recherche.saisie_input {
			grid-template-columns: 35% 65%;
		}
	}
}



@media all and (max-width: 415px) {
	body {
		font-size: 0.8em;
	}
	.formulaire_spip.formulaire_recherche_tutos {
		.body {
			grid-template-columns: 35% 65%;
				.tutos .item {
				width : 100%;
				padding: 0.2em;
				margin-bottom: 0.5em;
				a:first-child {
					display: none
				}
				> div {
					display: none;
				}
			}
			.h2 {
				margin: 0;
			}
			.fields input {
				margin-left: 0;
				padding: 0;
			}
		}
	}
}

