@import 'css/variables';
@import 'css/variables_perso';
@import 'css/mixins_perso';

* {
	box-sizing: border-box;
}

/* Genéral */
#barre_social, #footer {
	background-color: $brand-primary;
}

#barre_social {
	.page {
		margin-top: 0;
		padding: 0;
		text-align: right;
	}
}

#header {
	border-bottom: 1px solid #e6e6e6;
	.right {
		display: inline-flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		#nav {
			width:80%;
			.navbar {
				text-align: right;
				ul {
					right: 0;
				}
				.on {
					font-weight: normal;
					a {
						color: $navbar-default-link-hover-color;
					}
				}
				li {
					float:none;
					a {
						border: none;
						padding: 0 15px;
						line-height: normal;
					}
					a:hover,
					a:focus,
					a:active {
						color: $navbar-default-link-hover-color;
					}
				}
			}
		}

		#formulaire_menu_lang{
			width: 20% ;
		}
		#nav input#show-menu[type="checkbox"] {
		display: none;
		}
	}
}

.formulaire_menu_lang select {
	width: auto;
	background:
	transparent;
	border: none;
	border-left: 2px solid #e6e6e6;
	text-align: center;
}


#footer {
	p {
		margin : 0;
		padding: 1.5em 0;
	}
	.page {
		background-color: transparent;
		margin-bottom: 0;
	}
	a,
	a:visited {
		color: #fff;
	}
	a:hover {
		color: $navbar-default-link-hover-color;
	}
}

.page {
	box-shadow: none;
	border:none;
	background-color: transparent;
	.main {
		background-color: transparent;
	}
}

/* Paghination */
.pagination {
	@include main_box(5px, #fff, 1.5em, 100%);
	display: flex;
	justify-content: space-between;
	.disabled {
		display: block;
		visibility: hidden;
	}
	.lien_pagination,
	.lien_pagination:hover {
		border: none;
		margin: 0 12px;
	}
	.lien_pagination:hover,
	.lien_pagination:active,
	.lien_pagination:focus {
		color: $pagination-active-color;
	}
	.on {
		font-weight: normal;
		@include main_box(25px, inherit, 0.65em 1em);
		border:none;
		box-shadow: -4px 8px 18px -9px;
	}

}

/* Banner */
#logo_site_spip {font-size: 0}


/* Formulaire recherche */
.formulaire_spip.formulaire_recherche_tutos {
	font-size: 0.9em;
	margin: 0 0 1.5em 0;
	padding: 0;
	border: none;
	background-color: transparent;
	.editer_recherche.saisie_input {
		display: grid;
		grid-template-columns: 26% 74%;
		grid-gap: 0;
		padding: 0;
		label {
			color: #a6adbe;
			text-transform: uppercase;
		}
	}
	.editer {
		padding: 0;
		margin: 0;
			> label {
			display: inline-block;
			font-weight: normal;
		}
	}
	.head {
		@include main_box(5px, #fff, 0.5em, 100%);
		margin-bottom: 1.5em;
		margin-left: 0;
		padding: 0.5em 0;
		display: grid;
		grid-gap: 0;
		grid-template-columns: 80% 20%;
		.submit {
			width: 80%;
		}
	}
	.editer_recherche {
		label {
			padding-left: 0.75em;
		}
		#champ_recherche {
			@include main_box(15px, #f1f2f7, 0.2em 1em, 80%);
			border: 1px;
		}
	}
	.body {
		width: 100%;
		display: grid;
		grid-template-columns: 21% calc(79% - 1em);
		grid-gap: 1em;
		.fields {
			input {
				margin-left: 0.5em;
			}
			input.submit {
				margin-left:0;
			}
		}
		.tutos {
			justify-content: space-between;
			.item {
				@include main_box(5px, #fff, 1em, 32%);
				text-align: center;
				margin-bottom: 1em;
				a.h2 {
					font-size: 1.1em;
				}
				a.h2:visited {
					color: inherit;
				}
				a.h2:hover {
					color: $link-hover-color;
				}
				> a {
					display: block;
				}
				img {
					float: none;
					margin: 0 auto 1em auto;
				}
			}

		}
	}
	.fieldset_filtres {
		legend {
			@include main_box(5px, #fff, 0.5em 0em 0.5em 0.5em, 100%);
			margin-bottom: 0.5em;
			font-weight: normal;
		}
		label.header:after {
			content: '>';
			text-align: right;
			position: absolute;
			right: 5px;
			color: #a6adbe;
		}
		.open label.header:after {
			transform: scale(1) rotate(90deg);
		}
		.editer-groupe {
			margin-bottom: 0.5em;
			.editer {
				padding-bottom: 0;
				> label {
					border-bottom: 1px solid #e2e6f0;
					@include main_box(0, #fff, 0.5em 0.1em 0.5em 0.5em, 100%);
				}
				.choix {
					width: 100%;
					padding: 0.5em 0 0.5em 0.5em;
					background-color: #f1f2f7;
					border-bottom: 1px solid #e2e6f0;
					color: #a6adbe;
					text-transform: uppercase;
					font-size: 0.8em;
					input {
						margin-right: 0.3em;
					}
				}
				.choix:last-child {
					border-radius: 0 0 5px 5px ;
				}
			}
			.editer:first-child {
				> label {
				@include main_box(5px 5px 0 0, #fff, 0.5em 0.1em 0.5em 0.5em, 100%);
				}
			}
			.editer:last-child > label {
				border-radius: 0 0 5px 5px ;
			}
			.editer:not(:first-child) {
				padding-top: 0;
			}
			.editer.open > label{
				border-bottom-right-radius: 0;
				border-bottom-left-radius: 0;
			}
		}
		//
	}
}

#footer {
	.text {
		p:first-child {
			padding-top:0.5em;
		}
	}
}

/* Home */
.rubrique_home {
	#content  h1 {
		display:none;
	}
}

/* Tuto */
.page_tuto {
	.content-principal {
		justify-content: space-between;
		.principal {
			@include main_box(5px, #fff, 1em, 55%);
		}
		aside {
			@include main_box(5px, #fff, 1.5em, 30%);
			img {
				float: none;
				margin: 0 auto 1.5em auto;
				display: block;
			}
			ul {
				padding: 0;
			}
		}
	}
}

@media all and (max-width: 800px) {

	#nav .navbar {
		margin: 0;
		width: 100%;
		li a {
			text-align: right;
		}
	}
	#header .right {
		#nav, #formulaire_menu_lang {
		width: 100%;
		text-align: right;
		}
	}

	.formulaire_menu_lang select {
		border: none;
	}

	.formulaire_spip.formulaire_recherche_tutos {
		.editer_recherche.saisie_input {
			grid-template-columns: 35% 65%;
		}
	}
	#footer {
		p {
			padding-top: 0;
		}
		h2 {
			font-size: 1.2em;
		}
		.row {
			display: flex;
			> * {
				width: 33%;
			}
		}
		.spip_logos {
			margin-right: 0.5em;
			margin-bottom: 0.5em;
		}
	}
}



@media all and (max-width: 415px) {
	body {
		font-size: 0.8em;
	}
	.formulaire_spip.formulaire_recherche_tutos {
		.body {
			grid-template-columns: 35% calc(65% - 0.5em);
			grid-gap: 0.5em;
				.tutos .item {
				width : 100%;
				padding: 0.2em;
				margin-bottom: 0.5em;
				a:first-child {
					display: none
				}
				> div {
					display: none;
				}
			}
			.h2 {
				margin: 0;
			}
			.fields input {
				margin-left: 0;
				padding: 0;
			}
		}
	}
	#footer {
		.page {
			text-align: center;
		}
		.row {
			display: block;
			> * {
				clear: both
			}
		}
	}
}

